doctype html
html
  head
    title= title
    script(src="/bower_components/webcomponentsjs/webcomponents-lite.js")

    link(rel="import" href="/components/zero-common.html")
    link(rel="import" href="/components/zero-connector.html")

    link(rel="import" href="/components/zerox-chat.html")

    style(is="custom-style").
      zerox-chat::shadow div#messageLog {
        height: 200px;
        overflow-y: auto;
      }
      zerox-chat {
        width: 250px;
      }

  body
    zero-connector
    zerox-chat(placeholder="Message...")

