extends layout-app
block head
  link(rel="import" href="/components/zero-common.html")
  link(rel="import" href="/components/zero-connector.html")

  link(rel="import" href="/components/zero-btn.html")
  link(rel="import" href="/components/zero-checkbox.html")
  link(rel="import" href="/components/zero-input.html")
  link(rel="import" href="/components/zero-container.html")
  link(rel="import" href="/components/zero-socket.html")
  link(rel="import" href="/components/zerox-chat.html")

  style(is="custom-style").
    :root {
      /*--default-primary-color: #7cb342;*/
      /*--default-primary-color: #d32f2f;*/
      --default-primary-color: #e91e63;
      --default-primary-color: #0b8043;
      --accent-color: #d500f9;
    }

    zerox-chat::shadow div#messageLog {
      height: 200px;
      overflow-y: auto;
    }

    zero-input {
      width: 150px;
    }

    zero-btn {
      color: var(--default-primary-color);
    }

    header{
      background: var(--default-primary-color);
      margin: -10px -10px 0;
      padding: 10px;
      color: var(--text-primary-color);
    }



block content
  zero-connector( server="http://localhost:3000/" user="#{user}" )
  zero-socket
  header
    h1= title
    h2 ToDo List + Chat

  div.separator

  div.me
    p I am:&nbsp;
      strong
        span#myId

  div.online-users
    div Connected users:
    div.users


  div.separator

  div.main-container.left
    zero-input(label="New Item" zero-id="input-example-app")
    zero-btn(zero-id="add-button-example-app") ADD ITEM

    zero-container.todo-container(zero-id="container-example-app")
      zero-checkbox Item 1
      zero-checkbox Item 2
      zero-checkbox Item 3
      zero-checkbox Item 4

  div.main-container.right
    zerox-chat(placeholder="Message..." zero-id="chat-example-app")


  script.
    var zInput = document.querySelector('zero-input');
    var zSocket = document.querySelector('zero-socket');

    document.addEventListener('connectionEstablished', function (e) {
      document.querySelector('#myId').textContent = CConector.user
    })
    document.addEventListener('connectedUsersUpdated', function (e) {
      var usersContainer = document.querySelector('.online-users div.users');
      usersContainer.innerHTML = '';

      //      console.log(CConector._connectedUsers)
      for (var property in CConector._connectedUsers) {
        if (CConector._connectedUsers.hasOwnProperty(property)) {
          var user = CConector._connectedUsers[property];
          //          console.log(property+" - "+user)
          if (user) {
            var d = document.createElement('DIV'),
                    tn = document.createTextNode(user);
            d.appendChild(tn);
            Zero.addClass(d, 'user');
            usersContainer.appendChild(d);
          }
        }
      }
      //      for (var i = 0; i < CConector._connectedUsers.length; i++) {
      //        var userId = CConector._connectedUsers[i];
      //        //        console.log(userId)
      //        var d = document.createElement('DIV'),
      //            tn = document.createTextNode(userId);
      //        d.appendChild(tn);
      //        Zero.addClass(d,'user');
      //
      //        usersContainer.appendChild(d);
      //      }

    })

    document.querySelector('zero-btn').addEventListener('click',addItem)
    function addItem () {
      if(!zInput.value) return;
      createItem(zInput.value);
      zSocket.sendData({action:'newItem','text':zInput.value});
      zInput.value = '';
    }
    function createItem (text) {
      var todoContainer = document.querySelector('.todo-container');
      var d = document.createElement('ZERO-CHECKBOX');
      d.setText(text);
      todoContainer.appendChild(d);
    }

    zSocket.addEventListener('messageReceived', function (e) {
      if (e.detail.action == 'newItem')
        createItem(e.detail.text)
    })