extends layout
block head
  link(rel="import" href="/components/hello-world.html")
  link(rel="import" href="/components/btn-cl.html")
  link(rel="import" href="/components/btn-collab.html")
  link(rel="import" href="/components/zero-btn.html")
  link(rel="import" href="/components/zero-checkbox.html")
  link(rel="import" href="/components/zero-connector.html")
  link(rel="import" href="/bower_components/paper-ripple/paper-ripple.html")
  link(rel="import" href="/bower_components/paper-material/paper-material.html")

  style.
    #my-btn {
      /*background: green;*/
      color: #00B7FF;
    }
    .mibtn-0 {
      font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      min-width: 5.14em;
      margin: 0 0.29em;
      background: transparent;
      text-align: center;
      text-transform: uppercase;
      outline: none;
      border-radius: 3px;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
      z-index: 0;
    }
    .mibtn-0 button {
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
    }

block content
  h1= title

  zero-connector( server="http://localhost:3000/" )

block quillo
  div(class='separator')

  zero-btn( id="zero-btn" ) ZERO-BTN

  div(class='separator')

  zero-checkbox( id="zero-checkbox" ) zero-checkbox

  script.
    function flus() {
      console.log("asdasd");
    }
    function asd() {
      var supu = document.getElementById('a22');
      console.log(supu);
    }

    var bt = document.getElementById('zero-btn');
    var cb = document.getElementById('zero-checkbox');
