extends layout
block head
  link(rel="import" href="/components/hello-world.html")
  link(rel="import" href="/components/btn-cl.html")
  link(rel="import" href="/components/zero-btn.html")
  link(rel="import" href="/components/zero-checkbox.html")
  link(rel="import" href="/components/zero-radio-button.html")
  link(rel="import" href="/components/zero-radio-group.html")
  link(rel="import" href="/components/zero-toggle-button.html")
  link(rel="import" href="/components/zero-textarea.html")
  link(rel="import" href="/components/zero-input.html")
  link(rel="import" href="/components/zerox-tab-pane.html")
  link(rel="import" href="/components/zerox-chat.html")
  link(rel="import" href="/components/zero-connector.html")

  link(rel="import" href="/bower_components/iron-pages/iron-pages.html")
  //link(rel="import" href="/bower_components/paper-ripple/paper-ripple.html")
  //link(rel="import" href="/bower_components/paper-material/paper-material.html")

  style(is="custom-style").
    :root {
      /*--default-primary-color: #7cb342;*/
      /*--default-primary-color: #d32f2f;*/
      --default-primary-color: #e91e63;
      --default-primary-color: #0b8043;
      --dark-primary-color: #0b6633;
      --ink-color: rgba(15, 183, 96, 0.57);
      --accent-color: #d500f9;
    }

    zero-radio-group {
      border: 2px solid var(--default-primary-color);
      padding: 10px;
      border-radius: 4px;
    }

    zerox-tab-pane {
      --paper-tabs-selection-bar-color: var(--dark-primary-color);
    }
    zerox-tab-pane::shadow paper-tab {
      --paper-tab-ink: var(--ink-color);
    }
    iron-pages > div {
      height: 100px;
      padding-top: 10px;
      text-align: center;
      font-size: 20px;
      background: var(--ink-color);
    }
    iron-pages > div span{
      display: block;
      font-size: 40px;
    }

    zero-input {
      width: 100px;
    }


block content
  zero-btn(onclick="location.reload()" style="border-radius:50%; width:50px; height:50px; background-color:#8bc34a; color:white; font-size:8px") RELOAD
  h1= title
  zero-btn(onclick="location.href='./tests'") TESTS

  zero-connector( server="http://localhost:3000/" )

block quillo
  div(class='separator')

  zero-btn( id="zero-btn" onclick="flus()") BUTTON

  div(class='separator')

  zero-checkbox( id="zero-checkbox" name="zero-checkbox" ) CHECKBOX

  div(class='separator')

  zero-radio-button( id="zero-radio-button" name="zero-radio" ) RADIO-BUTTON

  div(class='separator')

  zero-radio-group( id="zero-radio-group" name="zero-radio-group" selected="rb-1" )
    zero-radio-button( name="rb-1" ) Option 1
    zero-radio-button( name="rb-2" ) Option 2
    zero-radio-button( name="rb-3" ) Option 3

  div(class='separator')

  zero-toggle-button( id="zero-toggle-button" name="zero-toggle-button" ) TOGGLE-BUTTON

  div(class='separator')

  zero-input(label="Number" type="number" name="zero-input" value="3.56asd")
  zero-input(label="TEXT-INPUT" name="zero-input-" value="Text value")

  div(class='separator')

  zero-textarea(label="TEXTAREA" name="zero-textarea" value="TEXTAREA text")

  div.separator

  template(is="dom-bind")
    zerox-tab-pane(zero-id="test-tab-pane" selected="{{selected}}" scrollable_ selected-initial="0")
      paper-tab(id="t1") TAB 1
      paper-tab(id="t2") TAB 2
      paper-tab(id="t3") TAB 3

    iron-pages(selected="{{selected}}")
      div PAGE <span>1</span>
      div PAGE <span>2</span>
      div PAGE <span>3</span>

  div.separator

  zerox-chat(placeholder="Message..." zero-id="chat-example-app")

  script.
    function flus() {
      console.log("asdasd");
    }
    function asd() {
      var supu = document.getElementById('a22');
      console.log(supu);
    }

    var bt = document.getElementById('zero-btn');
    var cb = document.getElementById('zero-checkbox');
    var rb = document.getElementById('zero-radio-button');
    var rbg = document.getElementById('zero-radio-group');
    var tb = document.getElementById('zero-toggle-button');
