extends test-layout
block head
  link(rel="import" href="/components/zero-connector.html")

  //link(rel="import" href="/components/zero-textarea.html")
  //link(rel="import" href="/components/zero-input.html")
  //link(rel="import" href="/bower_components/paper-input/paper-input-container.html")
  //link(rel="import" href="/bower_components/paper-styles/paper-styles.html")
  //link(rel="import" href="/bower_components/paper-menu/paper-menu.html")
  //link(rel="import" href="/components/zerox-menu.html")
  //link(rel="import" href="/bower_components/paper-menu/paper-submenu.html")
  //link(rel="import" href="/bower_components/paper-item/paper-item.html")
  //link(rel="import" href="/components/zerox-progress-bar.html")
  link(rel="import" href="/components/zerox-tab-pane.html")
  //link(rel="import" href="/bower_components/paper-tabs/paper-tabs.html")
  link(rel="import" href="/bower_components/iron-pages/iron-pages.html")
  link(rel="import" href="/components/zerox-chat.html")
  //link(rel="import" href="/bower_components/paper-ripple/paper-ripple.html")
  //link(rel="import" href="/bower_components/paper-progress/paper-progress.html")
  //link(rel="import" href="/bower_components/paper-tabs/paper-tabs.html")
  //script(src="/javascripts/jquery.min.js")


  style(is="custom-style").
    body {
      background: #ecf7e1;
    }
    /*:root {*/
      /*--dark-primary-color: #303f9f;*/
      /*--default-primary-color: #3f51b5;*/
      /*--light-primary-color: #c5cae9;*/
      /*--text-primary-color: #ffffff;*/
      /*--accent-color: #ff4081;*/
      /*--primary-background-color: #ffffff;*/
      /*--primary-text-color: #212121;*/
      /*--secondary-text-color: #757575;*/
      /*--disabled-text-color: #bdbdbd;*/
      /*--divider-color: #e0e0e0;*/
    /*}*/
    /*#asd {*/
      /*--paper-input-container-focus-color: #3f51b5;*/
      /*--paper-input-container-label-focus: #3f51b5;*/
      /*--paper-input-container-underline-focus: #3f51b5;*/

      /*--paper-input-container-color: #ff4081;*/
      /*--paper-input-container-focus-color: #ff4081;*/
      /*--paper-input-container-invalid-color: #ff4081;*/
      /*--paper-input-container-input-color: #ff4081;*/
      /*--paper-input-container: #ff4081;*/
      /*--paper-input-container-label: #ff4081;*/
      /*--paper-input-container-label-focus: #ff4081;*/
      /*--paper-input-container-input: #ff4081;*/
      /*--paper-input-container-underline: #ff4081;*/
      /*--paper-input-container-underline-focus: #ff4081;*/
      /*--paper-input-container-underline-disabled: #ff4081;*/
    /*}*/

    /*#asd .focused-line.paper-input-container {*/
      /*background: #ff4081;*/
    /*}*/

    :root {
      /*height: 300px;*/
      /*--color-focus: #fff306;*/
      /*--paper-tabs-selection-bar-color: #ff0780*/
    }
    #zTA {
      /*height: 300px;*/
      --color-focus: #ff0780;
      --textarea-height: 200px;
      /*height: 200px;*/
    }
    /*#zTA::shadow paper-input-container {*/
      /*--color-focus: #FF0000;*/
      /*--paper-input-container-focus-color: #FF0000;*/
      /*/!*--paper-input-container-label-focus: #3f51b5;*!/*/
      /*/!*--paper-input-container-underline-focus: #3f51b5;*!/*/
    /*}*/
    #mTabs {
      --paper-tabs-selection-bar-color: #ff0780;
      --paper-tab-ink: rgba(255, 7, 128, 0.5);
      /*--paper-tab-ink: #ff0780;*/
      /*--paper-tabs: #ff0780*/
    }
    #mTabs::shadow paper-tab {
      --paper-tab-ink: rgba(255, 7, 128, 0.5);
      /*--paper-tabs: #ff0780*//* No fufa */
    }
    paper-itemw {
      /*width: 50px;*/
      /*height: 20px;*/
      padding: 5px 8px;
    }
    zerox-menu {
      /*background: transparent;*/
    }
    zerox-progress-bar {
      width: 100%;
      --paper-progress-active-color: #e91e63;
      --paper-progress-secondary-color: #f8bbd0;
      /*--paper-progress-container-color: #64ffda;*/
      --zerox-progress-transition: all 0.2s ease-in-out 0.2s;
      --zerox-progress-secondary-transition: all 0.2s ease-in-out 0.2s;
    }

    paper-progress {
      width: 100%;
      --paper-progress-transition-duration: 0.2s;
      --paper-progress-transition-timing-function: ease-in-out;
      --paper-progress-transition-transition-delay: 0.08s;
    }
    
    iron-pages > div {
      height: 300px;
      padding-top: 20px;
      text-align: center;
      font-size: 40px;
      background: #f8bbd0;
    }
    iron-pages > div span{
      display: block;
      font-size: 80px;
    }

    zerox-chat {
      --chat-accent: #0f9d58;
      /*--own-message-background: #e91e63;*/
      /*--paper-input-container-focus-color: #e91e63;*/
    }

    .cursor {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .cursor paper-material {
      /*background-color: #fff;*/
    }
    .cursor .pointer {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 25px 25px 0 0;
      border-color: var(--accent-color) transparent transparent transparent;

      /*width: 50px;*/
      /*height: 50px;*/
      position: relative;
    }
    .cursor .user {
      position: relative;
      background: var(--accent-color);
      color: var(--text-primary-color);
      padding: 2px 4px;
      border-radius: 2px;
      top: -18px;
      left: 7px;
    }

block content
  h1= title
  zero-connector

block quillo

  //zero-textarea(line-wrapping id="zTA" show-line-numbers label="ZERO-TEXTAREA" name="WoWTA" value="WoW")
  //
  //zero-input( id="ip" label="Número" type="number" max="5" min="2" step="0.1" value="3.56asd")

  //div
  //zerox-progress-bar(id="mProgress" value="42" max="60" min="40")
  //zerox-menu( id="mSimple")
  //  paper-item(id="uno") Item 1
  //  paper-item(id="dos") Item 2
  //  paper-item(id="tres") Item 3
  //
  //div Multi
  //zerox-menu(selected="0" multi id="mMulti")
  //  paper-item Item 1
  //  paper-item Item 2
  //  paper-item Item 3
  //
  //div Multi
  //zerox-menu(selected="0" multi id="mMulti2")
  //  paper-itemw Item 1
  //  paper-itemw Item 2
  //  paper-itemw Item 3
  //
  //div sep

  //zerox-menu(id="mMenu" multi)
  //  paper-item() Kiwi
  //  paper-item() Melon
  //  paper-submenu()
  //    paper-item( class="menu-trigger") Topics
  //    paper-menu( class="menu-content sublist")
  //      paper-item() Topic 1
  //      paper-item() Topic 2
  //      paper-item() Topic 3
  //  paper-submenu()
  //    paper-item( class="menu-trigger") Faves
  //    paper-menu( class="menu-content sublist" multi)
  //      paper-item() Fave 1
  //      paper-item() Fave 2
  //      paper-item() Fave 3
  //  paper-submenu( disabled)
  //    paper-item( class="menu-trigger") Unavailable
  //    paper-menu( class="menu-content sublist" multi)
  //      paper-item() Unavailable 1
  //      paper-item() Unavailable 2



  //div
  //  paper-progress(id="mProgress2")
  template(is="dom-bind")
    //paper-tabs(selected="{{selected}}" id="mTabs" scrollable_)
    zerox-tab-pane(zero-id="test-tab-pane" selected="{{selected}}" id="mTabs" scrollable_ selected-initial="0")
      paper-tab(id="t1") TAB 1
      paper-tab(id="t2") TAB 2
      paper-tab(id="t3") TAB 3
      //paper-tab(id="t2") TAB 2
      //paper-tab(id="t3") TAB 3
      //paper-tab(id="t2") TAB 2
      //paper-tab(id="t3") TAB 3
      //paper-tab(id="t2") TAB 2
      //paper-tab(id="t3") TAB 3
      //paper-tab(id="t2") TAB 2
      //paper-tab(id="t3") TAB 3
      //paper-tab(id="t2") TAB 2
      //paper-tab(id="t3") TAB 3
      //paper-tab(id="t2") TAB 2
      //paper-tab(id="t3") TAB 3
      //paper-tab(id="t2") TAB 2
      //paper-tab(id="t3") TAB 3

    iron-pages(selected="{{selected}}")
      div PAGE <span>1</span>
      div PAGE <span>2</span>
      div PAGE <span>3</span>

    script.
      var pt = document.getElementById('mTabs');

  zerox-tab-pane(selected="3" id="mTabs2")
    paper-tab(id="t1") TAB 1
    paper-tab(id="t2") TAB 2
    paper-tab(id="t3") TAB 3
    paper-tab(id="t2") TAB 2


  zerox-chat(placeholder="Message..." id="zero-chat" zero-id="individual-chat")

  template(id="tkiwi")
    div
      p

  div.separator

  div.cursor
    div.pointer
    paper-material.user(animated elevation="1") Fernando

  script.
    var asd;
    var chat = document.getElementById('zero-chat');
    //    var i=Number(mProgress.min);
    //    function lol() {
    //      mProgress.setValue(i);
    //      i = (i+1-Number(mProgress.min))%(Number(mProgress.max)-Number(mProgress.min)) + Number(mProgress.min)
    //      console.log(i)
    //      setTimeout(function(){
    //          lol();
    //      },10)
    //    }
    //        lol()
    //    i = mProgress.min+1
    //    console.log(i)
    //    var pt = document.getElementById('mTabs');

    //    var pb = document.getElementById('mProgress')
    //    var pp = document.getElementById('mProgress2')
    //    var simple = document.getElementById('mSimple');
    //    var multi  = document.getElementById('mMulti2');
    //    simple.addEventListener('change', function (e) {
    //      console.log(e)
    //    });
    //    var menu = document.getElementById('mMenu');
    //    menu.addEventListener('click', function (e) {
    //      console.log(e)
    //    });
    //    menu.addEventListener('mousedown', function (e) {
    //      console.log(e)
    //    });
    //    menu.addEventListener('mouseup', function (e) {
    //      console.log(e)
    //    });
    //    var pt = document.getElementById('mTabs');
    //    pt.addEventListener('click', function (e) {
    //      console.log(e)
    //    });
    //    pt.addEventListener('mousedown', function (e) {
    //      console.log(e)
    //    });
    //    pt.addEventListener('mouseup', function (e) {
    //      console.log(e)
    //    });

//    var pp = document.getElementById('mProgress');

//    $(menu).click(function(e){
//      console.log(e)
//    })

//    var ta = document.getElementById('zTA');
//    var ip = document.getElementById('ip');