doctype html
html
  head
    title= title
    script(src="/bower_components/webcomponentsjs/webcomponents-lite.js")
    script(src="/javascripts/jquery.min.js")

    link(rel='stylesheet', href='/stylesheets/style-app.css')

    block head
  body
    block content

    script.
      function ñ(selector) {
        var res = document.querySelectorAll(selector);
        return res.length == 1 ? res[0] : res;
      }
