doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/bower_components/paper-toggle-button/paper-toggle-button.css')
    //link(rel="import" href="bower_components/paper-elements/paper-elements.html")
    script(src="/bower_components/webcomponentsjs/webcomponents-lite.js")
    script(src="/javascripts/jquery.min.js")
    link(rel="import" href="/components/zero-common.html")

    block head
  body
    block content

    form(action="/tests" method="post")
      block quillo
      div(style="margin-top:40px")
      input(type="submit" value="Submit")
      if posted
        pre(style="width:100%; overflow-x:scroll") #{posted}

    script.
      function ñ(selector) {
        var res = document.querySelectorAll(selector);
        return res.length == 1 ? res[0] : res;
      }
