extends test-layout
block head
  link(rel="import" href="/bower_components/polymer/polymer.html")
  link(rel="import" href="/components/hello-world.html")
  link(rel="import" href="/components/btn-cl.html")
  link(rel="import" href="/components/btn-collab.html")
  link(rel="import" href="/components/zero-btn.html")
  link(rel="import" href="/components/zero-checkbox.html")
  link(rel="import" href="/components/zero-radio-button.html")
  link(rel="import" href="/components/zero-radio-button-sync.html")
  link(rel="import" href="/components/zero-radio-group.html")
  link(rel="import" href="/components/zero-radio-group-sync.html")
  link(rel="import" href="/components/zero-toggle-button.html")
  link(rel="import" href="/components/zero-connector.html")
  link(rel="import" href="/components/zero-container.html")
  link(rel="import" href="/components/zero-textarea.html")
  link(rel="import" href="/components/zero-input.html")
  link(rel="import" href="/components/zero-connector.html")
  link(rel="import" href="/bower_components/paper-ripple/paper-ripple.html")
  link(rel="import" href="/bower_components/paper-material/paper-material.html")
  link(rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html")
  link(rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html")
  link(rel="import" href="/bower_components/paper-input/paper-textarea.html")
  link(rel="import" href="/bower_components/paper-input/paper-input.html")
  link(rel="import" href="/bower_components/paper-button/paper-button.html")
  link(rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html")
  //link(rel="import" href="/bower_components/paper-input/paper-input-container.html")
  //link(rel="import" href="/bower_components/paper-styles/paper-styles.html")

  style(is="custom-style").
    body {
      background: #e6eaf7;
    }
    /*:root {*/
    /*--dark-primary-color: #303f9f;*/
    /*--default-primary-color: #3f51b5;*/
    /*--light-primary-color: #c5cae9;*/
    /*--text-primary-color: #ffffff;*/
    /*--accent-color: #ff4081;*/
    /*--primary-background-color: #ffffff;*/
    /*--primary-text-color: #212121;*/
    /*--secondary-text-color: #757575;*/
    /*--disabled-text-color: #bdbdbd;*/
    /*--divider-color: #e0e0e0;*/
    /*}*/
    /*#asd {*/
    /*--paper-input-container-focus-color: #3f51b5;*/
    /*--paper-input-container-label-focus: #3f51b5;*/
    /*--paper-input-container-underline-focus: #3f51b5;*/

    /*--paper-input-container-color: #ff4081;*/
    /*--paper-input-container-focus-color: #ff4081;*/
    /*--paper-input-container-invalid-color: #ff4081;*/
    /*--paper-input-container-input-color: #ff4081;*/
    /*--paper-input-container: #ff4081;*/
    /*--paper-input-container-label: #ff4081;*/
    /*--paper-input-container-label-focus: #ff4081;*/
    /*--paper-input-container-input: #ff4081;*/
    /*--paper-input-container-underline: #ff4081;*/
    /*--paper-input-container-underline-focus: #ff4081;*/
    /*--paper-input-container-underline-disabled: #ff4081;*/
    /*}*/

    /*#asd .focused-line.paper-input-container {*/
    /*background: #ff4081;*/
    /*}*/

    :root {
      /*height: 300px;*/
      /*--color-focus: #fff306;*/
    }
    #zTA {
      /*height: 300px;*/
      --color-focus: #ff0780;
      /*--textarea-height: 200px;*/
      /*height: 200px;*/
    }
    /*#zTA::shadow paper-input-container {*/
    /*--color-focus: #FF0000;*/
    /*--paper-input-container-focus-color: #FF0000;*/
    /*/!*--paper-input-container-label-focus: #3f51b5;*!/*/
    /*/!*--paper-input-container-underline-focus: #3f51b5;*!/*/
    /*}*/

block content
  zero-btn(onclick="location.reload()" style="border-radius:50%; width:50px; height:50px; background-color:#8bc34a; color:white; font-size:8px") RELOAD
  h1= title
  zero-connector

block quillo

  zero-radio-button( id="rb-0") rb0

  div(class='separator')

  zero-container(id="zContainer")
    zero-radio-group( name="mGrupoRB" id="zero-radio-group" selected="rb-1" disable-button-propagation)
      zero-radio-button( name="rb-1" id="rb-1") zero-radio-button-1
      zero-radio-button( name="rb-2" id="rb-2") zero-radio-button-2
      zero-radio-button( name="rb-3" id="rb-3") zero-radio-button-3

  div(class='separator')

  zero-container(id="zContainer2")

  zero-container(id="zContainer3" direct-communication- zero-id="tests-zContainer3")
    zero-container(id="zContainer3_1" zero-id="tests-zContainer3_1")
      zero-checkbox(id="zero-checkbox") kiwi-melón

  zero-container(zero-id="kiwi" id="kiwi")
    zero-container(zero-id="kiwi1")
    zero-container(zero-id="kiwi2")
      zero-container(zero-id="kiwi12")
    div
      zero-container(zero-id="kiwi_11")
      div
        zero-container(zero-id="kiwi__1")
        div
          div
            div
  //paper-radio-button(name="prb") Mi RB moókn
  //label="ZERO-TEXTAREA" error-message="EEERROOOOOOOOOOOOOOOOR!" placeholder="WOW"
  //zero-textarea(id="zTA" show-line-numbers label="ZERO-TEXTAREA" name="WoWTA" value="WoW")
  //zero-textarea(id="zTA2" show-line-numbers rows="3") sdf
  //paper-textarea(id="pTA" label="PAPER-TEXTAREA")

  //paper-input( label="Input label" no-label-float_ char-counter disabled)
  //zero-input( name="mNumero" id="ip" label="Número" type="number" max="5" min="2" step="0.1" value="3.56asd")
  //
  //paper-input-container(attr-for-value="value" id="asd")
  //  //label(id='shurlabel') Social security number
  //  input(placeholder="Sucolega")
  //
  //paper-input-container(attr-for-value="value" id="asd")
  //  //label(id='shurlabel') Social security number
  //  textarea(placeholder="Sucolega")

  //zero-checkbox(name="z-cb" id="zero-checkbox" checked disabled) zero-checkbox
  //paper-checkbox(name="p-cb" id="paper-checkbox" checked disabled) paper-checkbox
  //input(type="checkbox" name="checkbox" checked)
  //
  //zero-radio-button(name="z-rb" id="zero-radio" checkesd disableds) zero-radio
  //paper-radio-button(name="p-rb" id="paper-radio" checked disableds) paper-radio
  //input(type="radio" name="radio" checked)
  //
  //zero-toggle-button(name="z-tb" id="zero-toggle" checked disableds) zero-toggle
  //paper-toggle-button(name="p-tb" id="paper-toggle" checked disableds) paper-toggle

  script.
    var cnt = document.getElementById('zContainer');
    var cnt2 = document.getElementById('zContainer2');
    var cnt3 = document.getElementById('zContainer3');
    var rbg = document.getElementById('zero-radio-group');
    var bt1 = document.getElementById('rb-1');
    var bt2 = document.getElementById('rb-2');
    var bt3 = document.getElementById('rb-3');
    var rb0 = document.getElementById('rb-0');
    var ta = document.getElementById('zTA');
    var ip = document.getElementById('ip');
    var zcb = document.getElementById('zero-checkbox');
    var zrb = document.getElementById('zero-radio');
    var ztb = document.getElementById('zero-toggle');

  div(class= 'separator')
