body {
  padding: 50px;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.horizontal-section {
  min-width: 130px;
}

.separator {
  display: block;
  border-top: 1px solid #efefef;
  margin: 20px 0px;
}
/*paper-button {*/
  /*margin-bottom: 24px;*/
/*}*/

/*paper-button.colorful {*/
  /*color: #4285f4;*/
/*}*/

/*paper-button[raised].colorful {*/
  /*background: #4285f4;*/
  /*color: #fff;*/
/*}*/

/*paper-button[toggles] {*/
  /*transition: background-color 0.3s;*/
/*}*/

/*paper-button[toggles][active] {*/
  /*background-color: rgba(0, 0, 0, 0.25);*/
/*}*/

/*paper-button[toggles][active].colorful {*/
  /*background-color: rgba(66, 133, 244, 0.25);*/
/*}*/

/*paper-button[toggles][active][raised].colorful {*/
  /*background-color: rgba(66, 133, 244, 0.75);*/
/*}*/

/*paper-button.blue {*/
  /*color: var(--paper-light-blue-500);*/
  /*--paper-button-flat-focus-color: var(--paper-light-blue-50);*/
/*}*/
/*paper-button.blue:hover {*/
  /*background: var(--paper-light-blue-50);*/
/*}*/
/*paper-button.red {*/
  /*color: var(--paper-red-500);*/
  /*--paper-button-flat-focus-color: var(--paper-red-50);*/
/*}*/
/*paper-button.red:hover {*/
  /*background: var(--paper-red-50);*/
/*}*/
/*paper-button.green {*/
  /*color: var(--paper-green-500);*/
  /*--paper-button-flat-focus-color: var(--paper-green-50);*/
/*}*/
/*paper-button.green:hover {*/
  /*background: var(--paper-green-50);*/
/*}*/
/*paper-button.orange {*/
  /*color: var(--paper-orange-500);*/
  /*--paper-button-flat-focus-color: var(--paper-orange-50);*/
/*}*/
/*paper-button.orange:hover {*/
  /*background: var(--paper-orange-50);*/
/*}*/

/*paper-button.hover:hover {*/
  /*background: #eee;*/
/*}*/

/*paper-button.ripple::shadow paper-ripple {*/
  /*color: var(--paper-pink-a200);*/
/*}*/

/*paper-button.ripple paper-ripple {*/
  /*color: var(--paper-pink-a200);*/
/*}*/