<!-- Import Polymer -->
<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<!--<link rel="import" href="/bower_components/">-->

<!-- Define your custom element -->
<polymer-element name="hello-world" attributes="who">

    <template>
        <p>Hello <strong>{{who}}</strong> :)</p>
        <paper-button toggles class="colorful">inside-toggle</paper-button>
        <paper-button toggles raised active class="colorful">colorful</paper-button>
    </template>

    <script>
        Polymer({
            is: 'hello-world',
            ready: function() {
                this.who = "World";
            }
        });
    </script>

</polymer-element>
