<!--

BASED ON Polymer's paper-menu
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-menu-behavior/iron-menu-behavior.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/components/event-propagation-behavior.html">
<link rel="import" href="/components/zero-common-behavior.html">

<dom-module id="zerox-menu">
    <link rel="import" type="css" href="/bower_components/paper-menu/paper-menu-shared.css">

    <style>
        :host {
            display: block;
            padding: 8px 0;

            background: var(--paper-menu-background-color, --primary-background-color);
            color: var(--paper-menu-color, --primary-text-color);

            @apply(--paper-menu);
        }

        .selectable-content > ::content > *:hover {
            position: relative;
            outline: 0;

            @apply(--paper-menu-focused-item);
        }
        .selectable-content > ::content > *:hover:after {
            @apply(--layout-fit);
            background: currentColor;
            opacity: 0.04;
            content: '';

            @apply(--paper-menu-focused-item-after);
        }
        .selectable-content > ::content > *[colored]:hover:after {
            opacity: 0.18;
        }

        /* Simulate focus */
        .selectable-content > ::content > *.simulatedFocus {
            position: relative;
            outline: 0;

            @apply(--paper-menu-focused-item);
        }
        .selectable-content > ::content > *.simulatedFocus:after {
            @apply(--layout-fit);
            background: currentColor;
            opacity: var(--dark-divider-opacity);
            content: '';

            @apply(--paper-menu-focused-item-after);
        }
        .selectable-content > ::content > *[colored].simulatedFocus:after {
            opacity: 0.26;
        }
    </style>
    <template>

        <div class="selectable-content" id="sc">
            <content></content>
        </div>

    </template>

</dom-module>

<script>

    (function() {

        Polymer({

            is: 'zerox-menu',

            behaviors: [
                Polymer.IronMenuBehavior,
                EventPropagationBehavior,
                ZeroCommonBehabior,
            ],

            _eventsToManage: [
                'change',
                'tap',
            ],

            listeners: {
                'sc.tap': "_clickListener_ChangeTrigger",
            },

            _previousSelectedItem: undefined,

            _clickListener_ChangeTrigger: function(e) {
                if (!this.multi) {
                    if (e.target != this._previousSelectedItem) {
                        this.fire('change')
                    }
                    this._previousSelectedItem = e.target;
                } else {
                    this.fire('change')
                }
            },

            _beforeSomethingHappened: function (e) {
                if (e.type == 'tap' && e.target == this)
                    return true;
            },

            /******************************* READY *********************************/
            attached : function(){
                if (!this.multi)
                    this._previousSelectedItem = this.selectedItem;
            },

            /******************************** API **********************************/
            clickElement: function (item) {
                this._valueToItem(this._indexToValue(item)).click()
            },

            mouseDownElement: function (item) {
                var elem = this._valueToItem(this._indexToValue(item));
                Zero.addClass(elem,'simulatedFocus')
            },

            mouseUpElement: function (item, doClick) {
                var elem = this._valueToItem(this._indexToValue(item));
                Zero.removeClass(elem,'simulatedFocus');
                if (doClick) elem.click();
            },

            mouseUpAll: function (doClick) {
                var i, len = this.items.length;
                for (i = 0; i < len; i++) {
                    var elem = this.items[i];
                    if (Zero.removeClass(elem,'simulatedFocus') && doClick)
                        elem.click();
                }
            },

            setSelected: function (item) {
                this.select(this._indexToValue(item));
                if (!this.multi)
                    this._previousSelectedItem = this.selectedItem;
            },

            getSelected: function () {
                if (this.multi) {
                    if (!this.selectedItems) return [];
                    var i, len = this.selectedItems.length;
                    var result = [];
                    for (i = 0; i < len; i++) {
                        var elem = this.selectedItems[i];
                        result.push(this.indexOf(elem));
                    }
                    return result;
                } else {
                    return this.selected;
                }
            },


        });

    })();

</script>
