<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/event-propagation-behavior.html">
<link rel="import" href="/components/zero-common-behavior.html">

<dom-module id="zerox-cursor">
    <style>
        .cursor {
            display: inline-block;
            position: absolute;
            /*top: 0;*/
        }
        .cursor paper-material {
            /*background-color: #fff;*/
        }
        .cursor .pointer {
            position: relative;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 25px 25px 0 0;
            border-color: var(--accent-color) transparent transparent transparent;
        }
        .cursor .user {
            position: relative;
            background: var(--accent-color);
            color: var(--text-primary-color);
            padding: 2px 4px;
            border-radius: 2px;
            top: -18px;
            left: 7px;
        }
    </style>
    <script>
        Polymer({
            is: 'zerox-cursor',

            behaviors: [
                EventPropagationBehavior,
                ZeroCommonBehabior,
            ],

            _cursorTemplateText:
                '<template id="cursorStub">' +
                '  <div class="cursor">' +
                '    <div class="pointer"></div>' +
                '    <paper-material elevation="1" class="user"></paper-material>' +
                '  </div>' +
                '</template>',

            _cursorTemplateText2:
                '<div id="cursorStub">' +
                '  <div class="cursor">' +
                '    <div class="pointer"></div>' +
                '    <paper-material elevation="1" class="user"></paper-material>' +
                '  </div>' +
                '</div>',

            _cursorTemplate: undefined,

            _currentCursors: {},

            _instantiateCursor: function (user) {
                var content = this._cursorTemplate.content;
                var text = content.querySelector('.user');

                text.innerText = user.user;

                var element = document.importNode(content, true);
                console.log(element)
                this._currentCursors[user.id] = element;

                Polymer.dom(this).appendChild(element);
            },

            /******************************* COLLAB ********************************/
            _eventsToManage: [
                'change',
            ],

            _outgoingEventProcessors: {
                'change': '_outgoingChangeProcessor'
            },

            _incomingEventProcessors: {
                'change': '_incomingChangeProcessor'
            },

            _outgoingChangeProcessor: function (e) {
//                console.log(e.detail)
                e.zeroDetails.data = e.detail;
                e.zeroDetails.user = {id:CConector.instanceId, user: CConector.user};
            },

            _incomingChangeProcessor: function (e) {
//                console.error("WOW SUCH CURSOR");
//                console.log(e.zeroDetails.user);
//                if (!this._currentCursors[e.zeroDetails.user.id])
//                    this._instantiateCursor(e.zeroDetails.user);
//                var cur = this._currentCursors[e.zeroDetails.user.id];
////                console.log(cur);
//                cur.style.top  = e.zeroDetails.data.pageX;
//                cur.style.left = e.zeroDetails.data.pageY;
            },

            /******************************* READY *********************************/
            attached: function(){
                var parser = new DOMParser(),
                    doc = parser.parseFromString(this._cursorTemplateText,"text/html");
                this._cursorTemplate = doc.querySelector('#cursorStub');
//                console.log("CURSOR ACTIVE")
                mouseListener = function (e) {
                    this.fire('change',{
                        pageX: e.pageX,
                        pageY: e.pageY
                    });
                }.bind(this);
                document.addEventListener('mousemove', mouseListener);
            },

            /******************************** API **********************************/
//            sendData: function (data) {
//                this.fire('change',{mData:data})
//            }
        });
    </script>

</dom-module>
