<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">

<dom-module name="zero-btn" id="zero-btn" attributes="btntype">
    <style>
        :host {
            /*color: #00af00;*/
            display: inline-block;
            margin: 0 4px 4px;
            border-radius: 3px;
        }
        paper-material {
            /*border-radius: inherit;*/
            padding: 8px 10px;
        }
        button {
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }

    </style>

    <template>
        <paper-material id="mat" animated style='' class=''>
            <button id="btn">
                <content></content>
                <paper-ripple id="rip" fit></paper-ripple>
            </button>
        </paper-material>
    </template>

    <script>
        Polymer({
            is: 'zero-btn',
            listeners: {
                'btn.tap': '_tapListener',
                'btn.down': '_downListener',
                'btn.up': '_upListener',
                'click': '_clickListener',
                'click': '_manageRipple'
            },
            _clickListener: function(e) {
                console.log('CLICK');
//                console.log(e);
            },
            _manageRipple: function(e) {
                if(e.layerX==0 && e.layerY==0) {
                    _this = this;
                    this.$.rip.downAction(e);
                    setTimeout(function(){_this.$.rip.upAction(e)},100);
                }
            },
            _tapListener: function(e) {
                console.log('TAP');
//                console.log(e);
            },
            _downListener: function() {
                console.log('DOWN');
                this.$.mat.elevation = 4;
            },
            _upListener: function() {
                console.log('UP');
                this.$.mat.elevation = 1;
            }
        });
    </script>

</dom-module>
