<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bower_components/paper-input/paper-input-container.html">
<link rel="import" href="/components/event-propagation-behavior.html">
<link rel="import" href="/components/zero-common-behavior.html">

<dom-module id="zerox-chat">
    <style>
        :host {
            --chat-accent: var(--default-primary-color);
            --own-message-color: var(--text-primary-color);
            --own-message-background: var(--chat-accent);
            --message-color: var(--primary-text-color);
            --message-background: var(--primary-background-color);
            --paper-input-container-focus-color: var(--chat-accent);
        }

        #chatContainer {
            width: inherit;
        }

        #mat {
            background: #FAFAFA;
            /*--paper-input-container-focus-color: var(--chat-accent);*/
        }

        #pic {
        }

        #messageLog {
        }

        #messageInput {
            text-align: right;
        }

        paper-material {
            padding: 8px 10px 8px;
        }

        .message {
            padding: 4px;
            font-family: 'Roboto', 'Noto', sans-serif;
        }
        .message.own {
            text-align: right;
        }

        .message paper-material {
            background: #fff;
            display: inline-block;
            padding: 10px 15px;
            border-radius: 20px 20px 20px 0;
            background: var(--message-background);
            color: var(--message-color);
        }
        .message.own paper-material{
            text-align: right;
            border-radius: 20px 20px 0px 20px;
            background: var(--own-message-background);
            color: var(--own-message-color);
        }
        .message div {
            display: inline-block;
        }
    </style>

    <template>
        <div id="chatContainer">
            <paper-material id="mat" animated elevation="1">
                <div id="messageLog"></div>

                <paper-input-container id="pic" readonly$="[[readonly]]" disabled$="[[disabled]]"
                                       no-label-float>
                    <input id="messageInput" type="text"
                           placeholder$="[[placeholder]]"
                           is="iron-input"
                           readonly$="[[readonly]]"
                            >
                </paper-input-container>
            </paper-material>
        </div>
    </template>

    <script>
        Polymer({
            is: 'zerox-chat',

            behaviors: [
                EventPropagationBehavior,
                ZeroCommonBehabior,
            ],

            properties: {

            },

            _messageLog: [],

            _messageTemplateText:
                '<template id="messageStub">' +
                '   <div class="message">' +
                '       <paper-material animated elevation="1">' +
                '           <div id="messageContent"></div>' +
                '       </paper-material>' +
                '   </div>' +
                '</template>',

            _messageTemplate: undefined,

            listeners: {
                'messageInput.input': '_inputListener',
                'keydown': '_keydownListener',
            },

            _inputListener: function (e) {
                console.log(e);
            },

            _keydownListener: function (e) {
//                console.log(e);
                if(event.keyCode == 13) {
                    this.sendMessage();
                    event.preventDefault();
                    return false;
                }
            },

            _appendMessage: function (messageText, own) {
                var content = this._messageTemplate.content;
                var text = content.querySelector('#messageContent'),
                    messageDiv = content.querySelector('.message');

                text.innerText = messageText;

                if (own) Zero.addClass(messageDiv,'own');
                else Zero.removeClass(messageDiv,'own');

                var element = document.importNode(content, true);
                Polymer.dom(this.$.messageLog).appendChild(element);
            },

            _sendMessage: function (message) {
                this._appendMessage(message,true);
                this._messageLog.push({author:'me',text:message});
                this.fire('change',{message:message});
                this.fire('message-sent',{message:message});
            },

            /******************************* COLLAB ********************************/
            _eventsToManage: [
                'change',
            ],

            _outgoingEventProcessors: {
                'change': '_outgoingChangeProcessor'
            },

            _incomingEventProcessors: {
                'change': '_incomingChangeProcessor'
            },

            _outgoingChangeProcessor: function (e) {
                e.zeroDetails.message = e.detail.message;
            },

            _incomingChangeProcessor: function (e) {
                var text = e.zeroDetails.message;
                this._appendMessage(text,false);
                this._messageLog.push({author:'outside',text:text});
                this.fire('message-received',{message:text});
            },

            /******************************* READY *********************************/
            attached: function () {
                var parser = new DOMParser(),
                    doc = parser.parseFromString(this._messageTemplateText,"text/html");
                this._messageTemplate = doc.querySelector('#messageStub');
            },

            /******************************** API **********************************/
            setText: function (text) {
                this.$.messageInput.value = text;
            },

            sendMessage: function (message) {
                if (typeof message === 'undefined') {
                    message = this.$.messageInput.value;
                    this.$.messageInput.value = '';
                }
                if (message)
                    this._sendMessage(message);
            },

            getConnectedUsers: function () {
                throw new Error('Method not implemented');
            },

            getMessageLog: function () {
                return this._messageLog;
            },
        });
    </script>

</dom-module>
