<script>
    Zero = {};

    //--------------------------------------------------------------------------
    // Utils

    Zero.randomString = function () {
        var s=Math.random().toString(36).slice(2);
        return s.length===16 ? s : Zero.randomString();
    };

    //--------------------------------------------------------------------------
    // CSS class management

    /**
     * Checks if an element has a CSS class.
     * @param ele DOM element
     * @param cls CSS class
     * @return boolean Returns <code>true</code> if the element has the CSS class,
     *         <code>false</code> otherwise
     */
    Zero.hasClass = function (ele,cls) {
        return !!ele.className.match(new RegExp('(\\s|^)'+cls+'(\\s|$)'));
    };

    /**
     * Adds a CSS class to a DOM element.
     * @param ele DOM element
     * @param cls CSS class
     * @return boolean Returns <code>true</code> if the class was added to the element,
     *         <code>false</code> otherwise
     */
    Zero.addClass = function (ele,cls) {
        if (!Zero.hasClass(ele,cls)) {
            ele.className += " "+cls;
            return true;
        }
        return false;
    };

    /**
     * Removes a CSS class from a DOM element.
     * @param ele DOM element
     * @param cls CSS class
     * @return boolean Returns <code>true</code> if the class was removed from the element,
     *         <code>false</code> otherwise
     */
    Zero.removeClass = function (ele,cls) {
        if (Zero.hasClass(ele,cls)) {
            var reg = new RegExp('(\\s|^)'+cls+'(\\s|$)');
            ele.className=ele.className.replace(reg,' ');
            return true;
        }
        return false;
    };

    //--------------------------------------------------------------------------
    // Custom selectors

    /**
     * Select an element of the DOM using its <code>zero-id</code>.
     * @param zeroId <code>zero-id</code> of the element
     * @return Element DOM element found
     */
    Zero.getElementByZeroId = function (zeroId) {
        return document.querySelector('[zero-id="' + zeroId + '"]')
    };

    //--------------------------------------------------------------------------
    // XPath
    // Firebug 1.6 implementation
    // https://code.google.com/p/fbug/source/browse/branches/firebug1.6/content/firebug/lib.js?spec=svn12950&r=8828#1332
    // License: https://code.google.com/p/fbug/source/browse/branches/firebug1.6/license.txt

    /**
     * Obtains the XPath of an DOM element.
     * @param element DOM element
     * @return XPath of the element
     */
    Zero.getElementTreeXPath = function (element, asArray) {
        var paths = [];

        // Use nodeName (instead of localName) so namespace prefix is included (if any).
        for (; element && element.nodeType == 1; element = element.parentNode) {
            var index = 0;
            for (var sibling = element.previousSibling; sibling; sibling = sibling.previousSibling) {
                // Ignore document type declaration.
                if (sibling.nodeType == Node.DOCUMENT_TYPE_NODE)
                    continue;

                if (sibling.nodeName == element.nodeName)
                    ++index;
            }

            var tagName = element.nodeName.toLowerCase();
            var pathIndex = (index ? "[" + (index+1) + "]" : "");
            paths.splice(0, 0, tagName + pathIndex);
        }

        if (asArray) return paths;
        return paths.length ? "/" + paths.join("/") : null;
    };

    /**
     * Returns all elements in the document that matches the XPath.
     * @param xpath XPath of the element
     * @param doc Document
     * @return Element DOM elements found
     */
    Zero.getElementsByXPath = function (xpath, doc) {
        if (!doc) doc = document;
        var nodes = [];

        try {
            var result = doc.evaluate(xpath, doc, null, XPathResult.ANY_TYPE, null);
            for (var item = result.iterateNext(); item; item = result.iterateNext())
                nodes.push(item);
        }
        catch (exc) {
            // Invalid xpath expressions make their way here sometimes.  If that happens,
            // we still want to return an empty set without an exception.
        }

        return nodes;
    };

    /*------------------------------------------------------------------------*/

    /**
     * Equals function implementation to compare arrays.
     * @param array Array to compare with this
     * @returns {boolean} <code>true</code> if they are equal, <code>false</code> otherwise
     */
    Array.prototype.equals = function (array) {
        // if the other array is a falsy value, return
        if (!array)
            return false;

        // compare lengths - can save a lot of time
        if (this.length != array.length)
            return false;

        for (var i = 0, l=this.length; i < l; i++) {
            // Check if we have nested arrays
            if (this[i] instanceof Array && array[i] instanceof Array) {
                // recurse into the nested arrays
                if (!this[i].equals(array[i]))
                    return false;
            }
            else if (this[i] != array[i]) {
                // Warning - two different object instances will never be equal: {x:20} != {x:20}
                return false;
            }
        }
        return true;
    };
</script>