<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-progress/paper-progress.html">
<link rel="import" href="/components/event-propagation-behavior.html">
<link rel="import" href="/components/zero-common-behavior.html">

<dom-module name="zerox-progress-bar" id="zerox-progress-bar">

    <!--
      --paper-progress-active-color: #e91e63;
      --paper-progress-secondary-color: #f8bbd0;
      --paper-progress-container-color: #64ffda;
    -->
    <style>
        :host {

        }
        paper-progress {
            width: inherit;

            /*--paper-progress-transition-duration: 0.2s;*/ /* NO FUNCIONA */
            /*--paper-progress-transition-timing-function: ease;*/ /* NO FUNCIONA */
            /*--paper-progress-transition-transition-delay: 0.08s;*/ /* NO FUNCIONA */
        }
        paper-progress::shadow #activeProgress{
            transition: var(--zerox-progress-transition)
        }
        paper-progress::shadow #secondaryProgress {
            transition: var(--zerox-progress-secondary-transition)
        }
    </style>

    <template>
        <paper-progress id="pp" value$="{{value}}" min$="{{min}}" max$="{{max}}" indeterminate$="{{indeterminate}}"></paper-progress>
    </template>

    <script>
        Polymer({
            is: 'zerox-progress-bar',

            behaviors: [
                EventPropagationBehavior,
                ZeroCommonBehabior,
            ],

            properties: {
                value: {
                    type: Number,
                    observer: '_valueChanged'
                },
                secondaryProgress: {
                    type: Number,
                    observer: '_secondaryProgressChanged'
                },
                indeterminate: {
                    type: Boolean,
                    observer: '_indeterminateChanged'
                },
            },

            listeners: {
                'change': '_changeListener',
            },

            _eventsToManage: [
                'change',
            ],

            _valueChanged: function(val) {
                return false;
            },

            _secondaryProgressChanged: function(val) {
                return false;
            },

            _indeterminateChanged: function(val) {
                return false;
            },

            _changeListener: function(e) {
                console.log('['+this.is+'] CHANGE');
//                console.log(e);
            },
            /******************************* READY *********************************/
            attached: function() {
                this._valueChanged = function(val) {
//                    console.log('['+this.is+'] VALUE CHANGED');
//                    console.log(val);
                    this.fire('change',{value:val})
                };
                this._secondaryProgressChanged = function(val) {
//                    console.log('['+this.is+'] SECONDARY CHANGED');
//                    console.log(val);
                    this.$.pp.secondaryProgress = val;
                    this.fire('change',{secondaryProgress:val})
                };
                this._indeterminateChanged = function(val) {
//                    console.log('['+this.is+'] VALUE CHANGED');
//                    console.log(val);
                    this.fire('change',{indeterminate:val})
                };
            },

            /******************************** API **********************************/
            setValue: function (val) {
                this.value = val;
            },

            getValue: function () {
                return this.value;
            },

            setIndeterminate: function (ind) {
                this.indeterminate = ind;
            },

            getIndeterminate: function () {
                return this.indeterminate;
            },

        });
    </script>

</dom-module>
