<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/event-propagation-behavior.html">
<link rel="import" href="/components/zero-common-behavior.html">

<dom-module id="zero-container">
    <style>
        :host {

        }
    </style>

    <template>
        <content></content>
    </template>

    <script>
        Polymer({
            is: 'zero-container',

            behaviors: [
                EventPropagationBehavior,
                ZeroCommonBehabior,
            ],

            /******************************* READY *********************************/
            attached: function(){

            },
        });
    </script>

</dom-module>
