<link rel="import" href="/bower_components/polymer/polymer.html">
<!--<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">-->
<!--<link rel="import" href="/bower_components/paper-material/paper-material.html">-->
<script src="/javascripts/socket.io-1.3.5.js"></script>

<dom-module id="zero-connector">
    <!--<style></style>-->

    <!--<template>-->
    <!--</template>-->

    <script>
        var socket;
        var CConector;
        Polymer({
            is: 'zero-connector',

            properties: {
                APIKey: {
                    type: String,
                    value: undefined,
                    notify: true,
                    reflectToAttribute: true
                },
                server: {
                    type: String,
                    value: undefined,
                    notify: true,
                    reflectToAttribute: true
                },
                instanceId: {
                    type: String,
                    value: undefined,
                },
                user: {
                    type: String,
                    value: undefined,
                },
            },

            _connectedUsers: undefined,
//            listeners: {
//                'btn.tap': '_tapListener',
//                'btn.down': '_downListener',
//                'btn.up': '_upListener',
//                'click': '_clickListener',
//                'click': '_manageRipple'
//            },
            /******************************* READY *********************************/
            attached: function(){
                CConector = this;
                this.id = "cconector";

                if (typeof this.server == 'undefined')
                    this.server = location.protocol + '//' + location.host;
//                console.log("[CConector] SERVER: "+this.server);

                socket = io.connect(this.server);

                socket.on('connection-established', function (data) {
//                    console.log(data);
                    console.log("[CConector] Connected");
                    CConector.instanceId = socket.id;
                    socket.emit('identification',CConector.user);
                    CConector.fire('connectionEstablished', data);
                });

                socket.on('event-transmission', function (data) {
//                    console.log(data);
                    if (data.instanceId == CConector.instanceId) return;
//                    console.log("Evento recibido:" +
//                            "\n - Dispatcher: "+data.dispatcher +
//                            "\n - Source: "+data.source +
//                            "\n - Type: "+data.event.type);

//                    console.log("[CConector] Connected");
                    var dispatcher = Zero.getElementByZeroId(data.dispatcher);
//                    if (!dispatcher) dispatcher = Zero.getElementByZeroId(data.source)
                    if (!dispatcher) return;
                    dispatcher._receiveEvent(data.event);
//                    console.warn()
                });

                socket.on('connected-users', function (data) {
                    CConector._connectedUsers = data;
                    CConector.fire('connectedUsersUpdated', data);
                });

//                console.log("[CConector] READY");
            },
            /******************************* READY *********************************/

            _sendEvent: function (e) {
                this._mLog.push("sendEvent "+ e.who+" <"+e.type+">");
//                console.info("[CC] sendEvent - "+ e.who);

//                console.error(JSON.stringify(e))
//                console.warn(e)
                e = new ZeroEvent(e);

                socket.emit('component-event',{
                    event:e,
                    source:e.sourceID,
                    dispatcher:e.dispatcher,
                    type:e.type,
                    instanceId:CConector.instanceId,
                });
            },

            _mLog: [],
            log: function () {
                return this._mLog;
            }
        });
    </script>

</dom-module>
