<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/event-propagation-behavior.html">
<link rel="import" href="/components/zero-common-behavior.html">

<dom-module id="zero-socket">
    <script>
        Polymer({
            is: 'zero-socket',

            behaviors: [
                EventPropagationBehavior,
                ZeroCommonBehabior,
            ],

            /******************************* COLLAB ********************************/
            _eventsToManage: [
                'change',
            ],

            _outgoingEventProcessors: {
                'change': '_outgoingChangeProcessor'
            },

            _incomingEventProcessors: {
                'change': '_incomingChangeProcessor'
            },

            _outgoingChangeProcessor: function (e) {
//                console.log(e.detail.mData);
                e.zeroDetails.data = e.detail.mData;
            },

            _incomingChangeProcessor: function (e) {
                this.fire('messageReceived', e.zeroDetails.data);
            },

            /******************************* READY *********************************/
            attached: function(){

            },

            /******************************** API **********************************/
            sendData: function (data) {
                this.fire('change',{mData:data})
            }
        });
    </script>

</dom-module>
