<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-input/paper-input-container.html">
<link rel="import" href="/bower_components/paper-input/paper-input-behavior.html">
<link rel="import" href="/components/event-propagation-behavior.html">
<link rel="import" href="/components/zero-common-behavior.html">
<link rel="stylesheet" href="/components/codemirror/lib/codemirror.mod.css">
<script src="/components/codemirror/lib/codemirror.js"></script>

<dom-module name="zero-textarea" id="zero-textarea">
    <style>
        paper-input-container {
            /*--color-focus: #3f51b5;*/
            --paper-input-container-focus-color: var(--color-focus);
            /*--paper-input-container-label-focus: var(--color-focus);*/
            /*--paper-input-container-underline-focus: var(--color-focus);*/
        }
        paper-input-container ::content .CodeMirror {
            height: var(--textarea-height);
        }

        paper-input-container ::content .input-content:not(.label-is-floating) #lbl {
            margin-top: 5px;
        }

        paper-input-container ::content .input-content:not(.label-is-floating) .withLineNumbers {
            margin-left: 35px;
        }
    </style>
    <template>
        <paper-input-container readonly$="[[readonly]]" disabled$="[[disabled]]">
            <label id="lbl" hidden$="[[!label]]">[[label]]</label>
            <!--<textarea id="ta" class=""-->
                      <!--is="iron-input"-->
                      <!--bind-value="{{value}}"-->
                      <!--disabled$="[[disabled]]"-->
                      <!--name$="[[name]]"-->
                      <!--placeholder="{{placeholder}}"-->
                      <!--readonly$="[[readonly]]"-->
                      <!--required$="[[required]]"-->
                      <!--rows$="[[rows]]"></textarea>-->
            <input id="fip" class=""
                   is="iron-input"
                   name$="[[name]]"
                   value="{{value}}"
                   bind-value="{{value}}"
                   readonly$="[[readonly]]"
                   required$="[[required]]"
                   type="hidden"/>
        </paper-input-container>
    </template>

    <script>
        Polymer({
            is: 'zero-textarea',
            _cm: undefined,
            behaviors: [
                EventPropagationBehavior,
                ZeroCommonBehabior,
            ],
            properties: {
                showLineNumbers: {
                    type: Boolean,
                    value: false
                },
                noLineWrapping: {
                    type: Boolean,
                    value: false
                },
                readonly: {
                    type: Boolean,
                    value: false
                }
            },
            listeners: {},
            _eventsToManage: [
            ],
            /******************************* READY *********************************/
            attached: function(){
                var _this=this;
                this._handleChange= this.changeFunc.bind(this);

                if (this.showLineNumbers) {
                    this.$.lbl.className += " withLineNumbers";
                }

                setTimeout(function(){
                    _this._cm = CodeMirror.fromTextArea(_this.$.fip, {
                        lineNumbers: _this.showLineNumbers,
                        lineWrapping: !_this.noLineWrapping,
                        matchBrackets: true,
                        styleActiveLine: true,
                        readOnly:_this.readonly,
                    });
//                    _this._cm.setValue(typeof _this.value !== 'undefined' ? _this.value : '');
                    _this._cm.on("change", _this._handleChange);
                    _this._cm.on("beforeSelectionChange", _this._handleCursor);
                },0)

                Object.defineProperty(this.$.fip,"value",{
                    get:function(){
                        return this.getAttribute("value");
                    },
                    set:function(val) {
                        this.setAttribute("value", val);
                        if (_this._cm.getValue() != val)
                            _this._cm.setValue(val);
                    }
                });
            },
            changeFunc: function (instance, changeObj) {
                this.value = instance.getValue();
                this.$.fip.value = instance.getValue();
                return false;
            },
//            _handleChange: this.changeFunc.bind(this), // En attached
            _handleCursor: function(instance ,obj) {
//                console.log(obj)
                return false;
            },

            getEditor: function() {
                return this._cm;
            },

            /**************************************** API ****************************************/

            insertText: function(text, position){
                if (typeof position == 'number') {
                    position = this._cm.doc.posFromIndex(position);
                    this._cm.replaceRange(text, position, position, 'API');
                }
                else
                    this._cm.replaceRange(text, position, position, 'API');
            },

            replaceText: function(text, begin, end){
                if (typeof begin == 'number') {
                    begin = this._cm.doc.posFromIndex(begin);
                    end = this._cm.doc.posFromIndex(end);
                    this._cm.replaceRange(text, begin, end, 'API');
                }
                else
                    this._cm.replaceRange(text, begin, end, 'API');
            },

            setContent: function(text){
                this._cm.setValue(typeof text !== 'undefined' ? text : '');
            },

            getContent: function(){
                return this._cm.getValue();
            },

            deleteText: function(begin, end){
                if (typeof begin == 'number') {
                    begin = this._cm.doc.posFromIndex(begin);
                    end = this._cm.doc.posFromIndex(end);
                    this._cm.replaceRange('', begin, end, 'API');
                }
                else
                    this._cm.replaceRange('', begin, end, 'API');
            },

            getText: function(begin, end){
                if (typeof begin == 'number') {
                    begin = this._cm.doc.posFromIndex(begin);
                    end = this._cm.doc.posFromIndex(end);
                    return this._cm.getRange(begin, end);
                }
                return this._cm.getRange(begin, end);
            },

            getLine: function(line){
                return this._cm.getLine(line);
            },

            lineCount: function(){
                return this._cm.lineCount();
            },

        });
    </script>

</dom-module>
