<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="/components/event-propagation-behavior.html">
<link rel="import" href="/components/zero-common-behavior.html">

<dom-module name="zero-radio-button" id="zero-radio-button">
    <style>
        :host {
            /*color: #d3a700;*/
            /*--paper-radio-button-unchecked-color: red;*/
            /*--paper-radio-button-unchecked-ink-color: green;*/
            /*--paper-radio-button-checked-color: blue;*/
            /*--paper-radio-button-checked-ink-color: #d300c2;*/
            --paper-radio-button-label-color: var(color);
        }
        :host([disabled]) {
            pointer-events: none;
        }
        paper-radio-button {
            
        }

    </style>

    <template>
        <paper-radio-button id="rb" checked="{{checked}}" active="{{active}}" disabled$="[[disabled]]">
            <span><content></content></span> <!-- Hack con el span -->
        </paper-radio-button>
        <input id="fip" class=""
               name$="[[name]]"
               value="{{value}}"
               required$="[[required]]"
               type="hidden"/>
    </template>

    <script>
        Polymer({
            is: 'zero-radio-button',
            behaviors: [
                EventPropagationBehavior,
                ZeroCommonBehabior,
            ],
            properties: {
                checked: {
                    type: Boolean,
                    value: false,
//                    reflectToAttribute: true,
                },
            },
            listeners: {
                'click': '_clickListener', // REQUIRED
//                'mouseover': '_mouseoverListener',
//                'mouseout': '_mouseoutListener',
//                'change': '_changeListener',
                'rb.iron-change': '_allChangeListener', // REQUIRED
            },

            _clickListener: function(e){
//                console.log("["+this.is+"] CLICK");
                if (e.target == this && this.parentNode.nodeName != 'ZERO-RADIO-GROUP') {
                    this.$.rb.checked = !this.$.rb.checked;
                    this.fire('change')
                } else if (e.target == this && this.parentNode.nodeName == 'ZERO-RADIO-GROUP') {
                    this.fire('change')
                }
            },
            _mouseoverListener: function(e) {
                console.log('['+this.is+'] MOUSEOVER');
//                console.log(e);
            },
            _mouseoutListener: function(e) {
                console.log('['+this.is+'] MOUSEOUT');
//                console.log(e);
            },
            _changeListener: function(e) {
                console.log('['+this.is+'] CHANGE');
//                console.log(e);
            },
            _allChangeListener: function(e) {
//                console.log('['+this.is+'] IRON-CHANGE');
//                console.log(e);
                this.$.fip.value = this.$.rb.checked;
            },

            /******************************* COLLAB ********************************/
            _eventsToManage: [
                'change',
//                'tap',
            ],

            _outgoingEventProcessors: {
                'change': '_outgoingChangeProcessor'
            },

            _incomingEventProcessors: {
                'change': '_incomingChangeProcessor'
            },

            _outgoingChangeProcessor: function (e) {
                e.zeroDetails.newValue = this.getChecked();
            },

            _incomingChangeProcessor: function (e) {
                this.setChecked(e.zeroDetails.newValue);
            },

            /******************************* READY *********************************/
            ready: function(){

            },

            /******************************** API **********************************/
            getChecked: function() {
                return this.$.rb.checked;
            },
            setChecked: function(checked) {
                this.$.rb.checked = checked;
                this.fire('zero-change',{value:checked});
            },
            mouseDown: function(e) {
                Polymer.dom(this).node.children.rb._nodes[2].downAction(e);
            },
            mouseUp: function(e) {
                Polymer.dom(this).node.children.rb._nodes[2].upAction(e);
            },
        });
    </script>

</dom-module>
