<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-selector/iron-selectable.html">
<link rel="import" href="/bower_components/iron-a11y-keys-behavior/iron-a11y-keys-behavior.html">
<link rel="import" href="/components/event-propagation-behavior.html">


<dom-module name="zero-radio-group-sync">
    <style>
        :host {
            display: inline-block;
        }

        :host ::content > * {
            display: inline-block;
            padding: 12px;
        }
    </style>

    <template>
        <content id="items" select="*"></content>
    </template>

</dom-module>

<script>
    Polymer({
        is: 'zero-radio-group-sync',

        behaviors: [
            Polymer.IronA11yKeysBehavior,
            Polymer.IronSelectableBehavior,
            EventPropagationBehavior
        ],

        hostAttributes: {
            role: 'radiogroup',
            tabindex: 0
        },

        properties: {
            attrForSelected: {
                type: String,
                value: 'name'
            },
            selectedAttribute: {
                type: String,
                value: 'checked'
            },
//            selectable: {
//                type: String,
//                value: 'zero-radio-button'
//            }
        },

        listeners: {
            'change': "_changeListener",
        },
        _changeListener: function(e) {
            console.log('['+this.is+'] CHANGE');
//                console.log(e);
        },

        keyBindings: {
            'left up': 'selectPrevious',
            'right down': 'selectNext',
        },

        select: function(value) {
            if (this.selected) {
                var oldItem = this._valueToItem(this.selected);

                // Do not allow unchecking the selected item.
                if (this.selected == value) {
                    oldItem.checked = true;
                    return;
                }

                if (oldItem)
                    oldItem.checked = false;
            }

            Polymer.IronSelectableBehavior.select.apply(this, [value]);
            this.fire('zero-radio-group-changed');
        },

        /**
         * Selects the previous item. If the previous item is disabled, then it is
         * skipped, and its previous item is selected
         */
        selectPrevious: function() {
            var length = this.items.length;
            var newIndex = Number(this._valueToIndex(this.selected));

            do {
                newIndex = (newIndex - 1 + length) % length;
            } while (this.items[newIndex].disabled)

            this.select(this._indexToValue(newIndex));
        },

        /**
         * Selects the next item. If the next item is disabled, then it is
         * skipped, and its nexy item is selected
         */
        selectNext: function() {
            var length = this.items.length;
            var newIndex = Number(this._valueToIndex(this.selected));

            do {
                newIndex = (newIndex + 1 + length) % length;
            } while (this.items[newIndex].disabled)

            this.select(this._indexToValue(newIndex));
        },

        /******************************* READY *********************************/
        attached: function() {
            this.async(function() {
//                console.info(this.children);
            });
        },

        /******************************** API **********************************/
        setChecked: function (item) {
            if (typeof item == "string")
                this.select(item);
            else
                this.select(this._indexToValue(item));
        },

        getChecked: function () {
            return Number(this._valueToIndex(this.selected));
        }
    });
</script>
