<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html">

<dom-module name="zero-toggle-button" id="zero-toggle-button">
    <style>
        :host {
            --color-encendido:#3f51b5;
            --color-apagado: #212121;
            --paper-toggle-button-checked-bar-color:  var(--color-encendido);
            --paper-toggle-button-checked-button-color:  var(--color-encendido);
            --paper-toggle-button-checked-ink-color: var(--color-encendido);
            --paper-toggle-button-unchecked-bar-color:  var(--color-apagado);
            --paper-toggle-button-unchecked-button-color:  var(--color-apagado);
            --paper-toggle-button-unchecked-ink-color: var(--color-apagado);
        }
        :host([disabled]) {
            pointer-events: none;
        }
        paper-toggle-button {
        }

    </style>

    <template>
        <paper-toggle-button id="tb" checked="{{checked}}" active="{{active}}" disabled$="[[disabled]]"></paper-toggle-button>
        <input id="fip" class=""
               name$="[[name]]"
               value="{{value}}"
               required$="[[required]]"
               type="hidden"/>
    </template>

    <script>
        Polymer({
            is: 'zero-toggle-button',
            behaviors: [],
            properties: {
                checked: {
                    type: Boolean,
                    value: false,
                },
            },
            listeners: {
                'click': '_clickListener',
                'change': '_changeListener',
                'tb.iron-change': '_allChangeListener',
            },
            _clickListener: function(e){
                if(!e.__polymerGesturesHandled) {
                    this.$.tb.checked = !this.$.tb.checked;
                }
                console.log("["+this.is+"] CLICK - "+this.$.tb.checked);
            },
            _changeListener: function(e) {
                console.log('['+this.is+'] CHANGE');
//                console.log(e);
            },
            _allChangeListener: function(e) {
                console.log('['+this.is+'] IRON-CHANGE');
//                console.log(e);
                this.$.fip.value = this.$.tb.checked;
            },
            /******************************* READY *********************************/
            ready: function(){

            },

            /******************************** API **********************************/
            getChecked: function() {
                return this.$.tb.checked;
            },
            setChecked: function(checked) {
                this.$.tb.checked = checked;
            },
            mouseDown: function(e) {
                Polymer.dom(this).node.children.tb._nodes[1].downAction()
            },
            mouseUp: function(e) {
                Polymer.dom(this).node.children.tb._nodes[1].upAction(e);
            },
        });
    </script>

</dom-module>
