<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-input/paper-input-container.html">
<link rel="import" href="/bower_components/paper-input/paper-input-behavior.html">
<link rel="stylesheet" href="/components/codemirror/lib/codemirror.mod.css">
<script src="/components/codemirror/lib/codemirror.js"></script>

<dom-module name="zero-input" id="zero-input">
    <style>
        paper-input-container {
            /*--color-focus: #3f51b5;*/
            --paper-input-container-focus-color: var(--color-focus);
            /*--paper-input-container-label-focus: var(--color-focus);*/
            /*--paper-input-container-underline-focus: var(--color-focus);*/
        }
        /*paper-input-container ::content .CodeMirror {*/
            /*height: var(--textarea-height);*/
        /*}*/

        paper-input-container ::content .input-content:not(.label-is-floating) #lbl {
            margin-top: 5px;
        }

    </style>
    <template>
        <paper-input-container readonly$="[[readonly]]" disabled$="[[disabled]]">
            <label id="lbl" hidden$="[[!label]]">[[label]]</label>
            <input id="fip" class=""
                   is="iron-input"
                   name$="[[name]]"
                   value="{{value}}"
                   bind-value="{{value}}"
                   readonly$="[[readonly]]"
                   required$="[[required]]"
                   type="hidden"/>
        </paper-input-container>
    </template>

    <script>
        Polymer({
            is: 'zero-input',
            _cm: undefined,
            behaviors: [],
            properties: {
                readonly: {
                    type: Boolean,
                    value: false
                },
                type: {
                    type: String,
                }
            },
            listeners: {},
            /******************************* READY *********************************/
            attached: function(){
                var _this=this;
                this._handleChange= this.changeFunc.bind(this);

                setTimeout(function(){
                    _this._cm = CodeMirror.fromTextArea(_this.$.fip, {
                        lineNumbers: false,
                        readOnly:_this.readonly,
                    });
                    _this._cm.on("change", _this._handleChange);
                    _this._cm.on("beforeSelectionChange", _this._handleCursor);
                    if (_this.type == "number") {
                        _this._cm.setValue(_this._cleanNumber(typeof _this.value !== 'undefined' ? _this.value : ''));
                        _this._cm.doc.clearHistory();
                    }
                    _this._cm.on("beforeChange", function(instance, change) {
                        var newtext = change.text.join("").replace(/\n/g, ""); // remove ALL \n !
                        if (_this.type == "number") {
                            newtext = _this._cleanNumber(newtext);
                            if (instance.getValue().indexOf(".") > -1)
                                newtext = newtext.replace(/[\.]/g, "");
                        }
                        change.update(change.from, change.to, [newtext]);
                        return true;
                    });
//                    _this._cm.setValue(typeof _this.value !== 'undefined' ? _this.value : '');
                },0)

                Object.defineProperty(this.$.fip,"value",{
                    get:function(){
                        return this.getAttribute("value");
                    },
                    set:function(val) {
                        this.setAttribute("value", val);
                        if (_this._cm.getValue() != val)
                            _this._cm.setValue(String(val));
                    }
                });
            },
            changeFunc: function (instance, changeObj) {
                this.value = instance.getValue();
                this.$.fip.value = instance.getValue();
                return false;
            },
//            _handleChange: this.changeFunc.bind(this), // En attached
            _handleCursor: function(instance ,obj) {
//                console.log(obj)
                return false;
            },

            getEditor: function() {
                return this._cm;
            },

            _cleanNumber: function(text) {
                return text.replace(/\n|[^0-9\.]/g, "")
            },

            /**************************************** API ****************************************/

            insertText: function(text, position){
                this._cm.replaceRange(text, {line:0,ch:position}, {line:0,ch:position}, 'API');
            },

            replaceText: function(text, begin, end){
                this._cm.replaceRange(text, {line:0,ch:begin}, {line:0,ch:end}, 'API');
            },

            setContent: function(text){
                this._cm.setValue(typeof text !== 'undefined' ? text : '');
            },

            getContent: function(){
                return this._cm.getValue();
            },

            deleteText: function(begin, end){
                this._cm.replaceRange('', {line:0,ch:begin}, {line:0,ch:end}, 'API');
            },

            getText: function(begin, end){
                return this._cm.getRange({line:0,ch:begin}, {line:0,ch:end});
            },

        });
    </script>

</dom-module>
