<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<!--<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">-->
<!--<link rel="import" href="/bower_components/paper-material/paper-material.html">-->
<!--<link rel="import" href="/components/ripple-behavior.html">-->

<dom-module name="zero-checkbox" id="zero-checkbox">
    <style>
        :host {
            /*color: #d3a700;*/
            /*--paper-checkbox-unchecked-color: red;*/
            /*--paper-checkbox-unchecked-ink-color: green;*/
            /*--paper-checkbox-checked-color: blue;*/
            /*--paper-checkbox-checked-ink-color: #d300c2;*/
            --paper-checkbox-label-color: var(color);
        }
        :host([disabled]) {
            pointer-events: none;
        }

        paper-checkbox {
            
        }

    </style>

    <template>
        <paper-checkbox id="cb" checked="{{checked}}" disabled$="[[disabled]]">
            <span><content></content></span> <!-- Hack con el span -->
        </paper-checkbox>
        <input id="fip" class=""
               name$="[[name]]"
               value="{{value}}"
               required$="[[required]]"
               type="hidden"/>
    </template>

    <script>
        Polymer({
            is: 'zero-checkbox',
            behaviors: [],
            properties: {
                checked: {
                    type: Boolean,
                    value: false,
//                    reflectToAttribute: true,
                },
            },
            listeners: {
                'click': '_clickListener',
                'mouseover': '_mouseoverListener',
                'change': '_changeListener',
                'cb.iron-change': '_allChangeListener',
            },
            _clickListener: function(e){
                console.log("["+this.is+"] CLICK");
                if(!e.__polymerGesturesHandled) {
                    this.$.cb.checked = !this.$.cb.checked;
                }
            },
            _mouseoverListener: function(e) {
                console.log('['+this.is+'] MOUSEOVER');
//                console.log(e);
            },
            _changeListener: function(e) {
                console.log('['+this.is+'] CHANGE');
//                console.log(e);
            },
            _allChangeListener: function(e) {
                console.log('['+this.is+'] IRON-CHANGE');
//                console.log(e);
                this.$.fip.value = this.$.cb.checked;
            },
            /******************************* READY *********************************/
            ready: function(){

            },

            /******************************** API **********************************/
            getChecked: function() {
                return this.$.cb.checked;
            },
            setChecked: function(checked) {
                this.$.cb.checked = checked;
            },
            mouseDown: function(e) {
                Polymer.dom(this).node.children.cb._nodes[0].downAction(e);
            },
            mouseUp: function(e) {
                Polymer.dom(this).node.children.cb._nodes[0].upAction(e);
            },
        });
    </script>

</dom-module>
