<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="/components/event-propagation-behavior.html">
<!--<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">-->
<!--<link rel="import" href="/bower_components/paper-material/paper-material.html">-->
<!--<link rel="import" href="/components/ripple-behavior.html">-->

<dom-module name="zero-radio-button-sync" id="zero-radio-button-sync">
    <style>
        :host {
            /*color: #d3a700;*/
            /*--paper-radio-button-unchecked-color: red;*/
            /*--paper-radio-button-unchecked-ink-color: green;*/
            --paper-radio-button-checked-color: var(color);
            --paper-radio-button-checked-ink-color: var(color);
            --paper-radio-button-label-color: var(color);
        }
        :host([disabled]) {
            pointer-events: none;
        }
        paper-radio-button {
            
        }

    </style>

    <template>
        <paper-radio-button id="rb" name="{{name}}" checked="{{checked}}" active="{{active}}">
            <span><content></content></span>
        </paper-radio-button>
        <input id="fip" class=""
               name$="[[name]]"
               value="{{value}}"
               required$="[[required]]"
               type="hidden"/>
    </template>

    <script>
        Polymer({
            is: 'zero-radio-button-sync',
            behaviors: [ EventPropagationBehavior ],
            properties: {
                checked: {
                    type: Boolean,
                    value: false,
//                    reflectToAttribute: true,
                },
            },
            listeners: {
                'click': '_clickListener',
                'mouseover': '_mouseoverListener',
                'change': '_changeListener',
                'rb.iron-change': '_allChangeListener',
            },
            _clickListener: function(e){
//                console.log("["+this.is+"] CLICK");
                if(!e.__polymerGesturesHandled) {
                    this.$.rb.checked = !this.$.rb.checked;
                }
            },
            _mouseoverListener: function(e) {
                console.log('['+this.is+'] MOUSEOVER');
//                console.log(e);
            },
            _changeListener: function(e) {
                console.log('['+this.is+'] CHANGE');
//                console.log(e);
            },
            _allChangeListener: function(e) {
                console.log('['+this.is+'] IRON-CHANGE');
//                console.log(e);
                this.$.fip.value = this.$.rb.checked;
            },
            /******************************* READY *********************************/
            ready: function(){

            },

            /******************************** API **********************************/
            getChecked: function() {
                return this.$.rb.checked;
            },
            setChecked: function(checked) {
                if (this.$.rb.checked != checked)
                    this.click();
            },
            mouseDown: function(e) {
                console.log(Polymer.dom(this).node.children.rb._nodes[2].downAction(e));
            },
            mouseUp: function(e) {
                console.log(Polymer.dom(this).node.children.rb._nodes[2].upAction(e));
            },
        });
    </script>

</dom-module>
