<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-input/paper-input-container.html">
<link rel="import" href="/bower_components/paper-input/paper-input-behavior.html">
<link rel="stylesheet" href="/components/codemirror/lib/codemirror.mod.css">
<script src="/components/codemirror/lib/codemirror.js"></script>

<dom-module name="zero-input" id="zero-input">
    <style>
        paper-input-container {
            /*--color-focus: #3f51b5;*/
            --paper-input-container-focus-color: var(--color-focus);
            /*--paper-input-container-label-focus: var(--color-focus);*/
            /*--paper-input-container-underline-focus: var(--color-focus);*/
        }
        paper-input-container ::content .CodeMirror {
            /*height: var(--textarea-height);*/
        }
    </style>
    <template>
        <paper-input-container readonly$="[[readonly]]" disabled$="[[disabled]]">
            <label hidden$="[[!label]]">[[label]]</label>
            <input id="ta" class=""
                    is="iron-input"
                    bind-value="{{value}}"
                    disabled$="[[disabled]]"
                    name$="[[name]]"
                    placeholder="{{placeholder}}"
                    readonly$="[[readonly]]"
                    required$="[[required]]"
                    autocomplete$="[[autocomplete]]"
                    autofocus$="[[autofocus]]"
                    inputmode$="[[inputmode]]"
                    minlength$="[[minlength]]"
                    maxlength$="[[maxlength]]"
                    min$="[[min]]"
                    max$="[[max]]"
                    step$="[[step]]"
                    type$="[[type]]"/>
        </paper-input-container>
    </template>

    <script>
        Polymer({
            is: 'zero-input',
            _cm: undefined,
            behaviors: [],
            properties: {
                showLineNumbers: {
                    type: Boolean,
                    value: false
                },
                readonly: {
                    type: Boolean,
                    value: false
                }
            },
            listeners: {
            },
            /******************************* READY *********************************/
            attached: function(){
                var _this=this;
                this._handleChange= this.changeFunc.bind(this);

                setTimeout(function(){
                    _this._cm = CodeMirror.fromTextArea(_this.$.ta, {
                        lineNumbers: _this.showLineNumbers,
                        matchBrackets: true,
                        styleActiveLine: true,
                        readOnly:_this.readonly,
                    });
                    _this._cm.setValue(typeof _this.value !== 'undefined' ? _this.value : '');
                    _this._cm.on("change", _this._handleChange);
                    _this._cm.on("beforeSelectionChange", _this._handleCursor);
                    if (_this.type == "number")
                        _this._cm.on("beforeChange", function(instance, change) {
//                            console.log(change.text);
                            var newtext = change.text.join("").replace(/\n/g, ""); // remove ALL \n !
                            newtext = newtext.replace(/[^0-9\.]/g, "");
                            if (instance.getValue().indexOf(".") > -1)
                                newtext = newtext.replace(/[\.]/g, "");
                            change.update(change.from, change.to, [newtext]);
                            return true;
                        });
                },0);

                Object.defineProperty(_this.$.ta,"value",{
                    get:function(){
                        return this.getAttribute("value");
                    },
                    set:function(val) {
                        this.setAttribute("value", val);
                        console.log(_this._cm);
                        if (_this._cm.getValue() != val)
                            _this._cm.setValue(String(val));
                    }
                });
            },

            changeFunc: function(instance ,changeObj) {
//                console.log(changeObj)
                this.value = instance.getValue();
                this.$.ta.value = instance.getValue();
                return false;
            },
            _handleCursor: function(instance ,obj) {
//                console.log(obj)
                return false;
            },

            getEditor: function() {
                return this._cm;
            },

            /**************************************** API ****************************************/

            insertText: function(text, position){
                this._cm.replaceRange(text, position, position, 'API');
            },

            replaceText: function(text, begin, end){
                this._cm.replaceRange(text, begin, end, 'API');
            },

            setContent: function(text){
                this._cm.setValue(typeof text !== 'undefined' ? text : '');
            },

            getContent: function(){
                return this._cm.getContent();
            },

            deleteText: function(begin, end){
                this._cm.replaceRange('', begin, end, 'API');
            },

            getText: function(begin, end){
                return this._cm.getRange(begin, end);
            },

            getLine: function(line){
                return this._cm.getLine(line);
            },

            lineCount: function(){
                return this._cm.lineCount();
            },

            getInput: function () {
                return this.$.ta;
            }

        });
    </script>

</dom-module>
