<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/components/ripple-behavior.html">

<dom-module name="zero-btn" id="zero-btn">
    <style>
        :host {
            /*color: #00af00;*/
            display: inline-block;
            margin: 0 4px 4px;
            border-radius: 3px;
        }
        paper-material {
            box-sizing: border-box;
            border-radius: inherit;
            height: inherit;
            width: inherit;
            padding: 8px 10px 8px;
        }
        paper-ripple {
            border-radius: inherit;
        }
        a,button {
            height: 100%;
            border-radius: inherit;
            box-sizing: border-box;
            padding: 1px 6px;
            margin: 0;
            display: inline-block;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            background: Transparent no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        button:focus{
            font-weight: 500;
        }

    </style>

    <template>
        <paper-material id="mat" animated style='' elevation="{{updateElevation(flat)}}">
            <button id="btn">
                <content></content>
                <paper-ripple id="rip" fit></paper-ripple>
            </button>
        </paper-material>
    </template>

    <script>
        Polymer({
            is: 'zero-btn',
            behaviors: [RippleBehavior],
            properties: {
                flat: {
                    type:Boolean,
                    value:false,
                    notify: true
                }
            },
            listeners: {
                'btn.tap': '_tapListener',
                'btn.down': '_downListener',
                'btn.up': '_upListener',
                'click': '_clickListener',
                'btn.focus' : '_focusListener',
                'mouseover' : '_mouseoverListener',
            },
            updateElevation: function(nFlat, notify) {
//                console.log('upd: '+nFlat);
                this.flat = nFlat;
//                console.log('set: '+this.flat);
//                this.$.mat.elevation = nFlat?0:1;
//                console.log('el: '+this.$.mat.elevation);
//                this.$.mat.elevation = 1;
                return nFlat?0:1;

//                this.notifyPath('flat', this.flat);

            },
            /******************************* LISTENERS *****************************/
            _clickListener: function(e) {
                console.log("["+this.is+"] CLICK");
//                console.log(e);
            },
            _focusListener: function(e) {
                console.log('['+this.is+'] FOCUS');
//                console.log(e);
            },
            _tapListener: function(e) {
                console.log('['+this.is+'] TAP');
//                console.log(e);
            },
            _downListener: function() {
                console.log('['+this.is+'] DOWN');
                if(!this.flat)
                    this.$.mat.elevation = 4;
            },
            _upListener: function() {
                console.log('['+this.is+'] UP');
                if(!this.flat)
                    this.$.mat.elevation = 1;
            },
            _mouseoverListener: function(e) {
                console.log('['+this.is+'] MOUSEOVER');
//                console.log(e);
            },
            /******************************* READY *********************************/
            ready: function(){
//                console.log(this);
                this.updateElevation(this.flat,true);
//                if(this.flat)
//                    this.$.mat.elevation = 0;
//                else
//                    this.$.mat.elevation = 1;
            },

            /******************************** API **********************************/
            mouseDown: function(e) {
                this.$.rip.downAction(e);
            },
            mouseUp: function(e) {
                this.$.rip.upAction(e);
            },
        });
    </script>

</dom-module>
