<link rel="import" href="/bower_components/polymer/polymer.html">
<!--<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">-->
<!--<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">-->
<!--<link rel="import" href="/bower_components/paper-material/paper-material.html">-->
<!--<link rel="import" href="/components/ripple-behavior.html">-->
<link rel="import" href="/components/event-propagation-behavior.html">

<dom-module name="zero-container" id="zero-container">
    <style>
        :host {
            
        }

    </style>

    <template>
        <content></content>
    </template>

    <script>
        Polymer({
            is: 'zero-container',
            behaviors: [EventPropagationBehavior],
            properties: {

            },
            listeners: {
                'click': '_clickListener'
            },
            _clickListener: function(e){
//                console.log("["+this.is+"] CLICK");
//                if(!e.__polymerGesturesHandled) {
//                    this.$.cb.checked = !this.$.cb.checked;
//                }
            },
            /******************************* READY *********************************/
            ready: function(){

            },
            attached: function() {
                this.async(function() {
//                    console.info(this.children);
                });
            },
        });
    </script>

</dom-module>
